{
  "env": {
    "react": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ]
    },
    "koa": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  }
}
